@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Gafata&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-font: "Audiowide", sans-serif;
  --secondary--font: "Gafata", sans-serif;
}

html,
body {
  height: 100%;
}
